* {
	padding: 0;
	margin: 0;
}

header {
	height: 10vh;
	display: flex;
	align-items: center;
	background-color: gray;
	color: white;
}

h1 {
	padding: 60px;
}

.a1 {
	display: flex;
	flex-direction: row;
}

.f1 {
	position: absolute;
	top: 0;
	right: 0;
}

a {
	text-decoration: none;
	color: white;
}

article {
	height: 65vh;
	overflow: scroll;
	width: calc(100%/2);
	display: flex;
	flex-direction: column;
}

p {
	color: white;
	margin-bottom: 130px;
	padding-left: 20px;
	padding-right: 20px;
}

.p2 {
	 color: red;
} 

.b1 {
	background-color: darkblue;
}

.b2 {
	color: white;
}

.c1 {
	color: red;
}

.e2 {
	display: flex;
	flex-direction: row;
}

.d1 {
	background-color: black;
	color: white;
	width: 100vw;
	height: 25vh;
	overflow: scroll;
	display: flex;
	flex-direction: row;
}

.e3 {
	margin-top: 30px;
}

nav {
	height: 20vh;
}

img {
	width: auto;
	height: auto;
	margin-top: 30px;
	margin-bottom: 15px;
}

.a {
	padding: 25px;
}



ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

h2 {
	padding: 20px;
	margin-bottom: 80px;
}

@media (max-width: 900px) {
	.a1 {
		display: flex;
		flex-direction: column;
	}
	article {
		height: auto;
		overflow: unset;
		width: 100vw;
		display: flex;
		flex-direction: column;
	}
	header {
		position: fixed;
		width: 100vw;
	}
	a {
		padding: 20px;
	}
	h2 {
		padding: 30px;
		margin-top: 5vh;
	}
	.b2 {
		margin-top: 15vh;
	}
	nav {
		width: 0;
		height: 0;
	}
	.f1 {
		margin-top: 0;
	}
}