* {
	padding: 0;
	margin: 0;
}

header {
	height: 10vh;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.a {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	padding: 20px;
}

a {
	text-decoration-line: none;
	color: white;
}

div:not(.rr) {
	display: flex;
	flex-direction: column;
}

.rr {
	display: flex;
	flex-direction: row;
}

article {
	width: 75vw;
	height: 30vh;
	overflow: scroll;
	display: flex;
	flex-direction: row;
}

section {
	display: flex;
	flex-direction: row;
}

p:not(.a) {
	width: 20vw;
	padding: 25px;
	margin-left: 1vw;
	background-color: white;
	margin-top: 40px;
	margin-right: 40px;
	border-radius: 6px;
	margin-bottom: 80px;
	box-shadow: 5px 5px 5px 5px #454545;
	line-height: 1.6;
}

.div {
	width: 25vw;
	height: 90vh;
	overflow: scroll;
	display: flex;
	flex-direction: row;
	background-color: black;
}

.a1 {
	background-color: orangered;
}

.a2 {
	background-color: #ffd400;
}

.a3 {
	background-color: blue;
}

.aaa {
	width: 9vw;
	height: 16vh;
	margin-left: 20px;
	margin-top: 60px;
	margin-bottom: 80px;
}

img {
	width: 12vw;
	height: auto;
	padding: 10px;
}

h2 {
	color: white;
	padding: 30px;
}

.bbb {
	padding-left: 180px;
}

